body {
  color: var(--color-main);
  font-family: 'Muli', sans-serif;
  background-image: url('../svg/Fondo.jpg');
  background-size: 100% 100%;
  position: relative;
}

/* ------------------------------------------------------------------ */
/* 1. Header Styles
/* ------------------------------------------------------------------ */
header {
  position: relative;
  height: 75px;
  min-height: 50px;
  width: 100%;
  background: #ffffff;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* 3. Nosotros Section
/* ------------------------------------------------------------------ */

#nosotros {
  background: #6b73a5;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------------------ */
/* 4. Productos Section
/* ------------------------------------------------------------------ */

#productos {
  background: #75a079;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------------------ */
/* 5. Contacto Section
/* ------------------------------------------------------------------ */

#contacto {
  background: #a59860;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------------------ */
/* 6. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  font-size: 14px;
  text-align: center;
  position: relative;
}
